@use "../../colors.scss";
@use "../../mixin.scss";

.projects {
    @include mixin.main;
    margin-top: 0 !important;

  .project {
    @include mixin.project;

    .texts {
      @include mixin.texts;

      h2 {
        width: 100%;
        font-size: 28px;
        margin-bottom: 2%;
        // text-shadow: 2px 2px 4px #00000096;
        text-shadow: -1px -1px 1px #00000059, 0 0 10px #ffffff, 0 0 20px #008ec9, 0 0 30px #008ec9, 0 0 40px #008ec9, 0 0 50px #008ec9, 0 0 60px #008ec9, 0 0 70px #008ec9;

        a {
          color: colors.$hover;
          text-decoration: none;
        }
      }

      .parag {
        padding-bottom: 3%;
        justify-content: flex-start;
        text-indent: 18px;
      }

      span {
        color: colors.$hover;
        font-size: 140%;
        background-color: colors.$textBgc;
        box-shadow: 2px 2px 20px #000000b0;
        border-radius: 0.2rem;
      }
    }

    .gallerys {
/*      @media (min-width: 600px) {
        width: 45vw;
        
        @media (min-aspect-ratio: 16/9) {
          width: 90%;
        }
      }
    #gallery {
      width: 100%;
      grid-area: pic;
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      border-radius: 0.6vw;
      box-shadow: 2px 2px 20px #000000b0;

      svg:hover {
        color: colors.$hover;
      }

      img {
        width: 100%;
      }

      #previous {
        position: absolute;
        width: 10%;
        height: 89%;
        display: flex;
        align-items: center;
        z-index: 2;

        svg:hover {
          color: colors.$hover;
        }
      }

      #next {
        position: absolute;
        left: 70%;
        width: 10%;
        height: 89%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;

        svg:hover {
          color: colors.$hover;
        }
      }

      #gallery-page {
        position: absolute;
        width: 20%;
        height: 88%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        svg {
          padding: 2.3%;
        }
      }
    }*/
  }
  }

  .vibe  {
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;

    .gallery-view {
      width: 75%;
    }
  }

  .ph {
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .pomodoro {
    height: 50vh;
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
}

  @media screen and (max-width: 600px), screen and (max-aspect-ratio:16/9) {
    .projects {
      width: 100% !important;
      margin-top: 0 !important;
    } 
    .project {
      height: auto !important;
      display: flex !important;
      justify-content: center;
      flex-direction: column;

      .gallerys {
        width: 100% !important;
      }

      .texts {
        width: 100% !important;
        margin-top: 10% !important;

        h2 {
          margin-bottom: 7% !important;
          text-align: center;
        }
      }
    }
  }