$hover: #fff;
$unhover: #ffffffcb;
$bgcMenu: #2b0261de;
$bgc: #2b0261;
$bgcNew: #15022b;

@media screen and (min-aspect-ratio: 16/9) {
  .hamburger {
    display: none;
  }
}
@media not screen and (min-aspect-ratio: 16/9) {
  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    z-index: 2;

    .headline-active {
      &::before {
        display: none;
        position: absolute;
        content: "";
        width: 64.9vw;
        max-width: 349px;
        background-color: $bgcNew;
        height: 2rem;
        left: 0;
        bottom: -1rem;
      }
    }

    .headline {
      position: relative;
      height: 5rem;
      display: flex;
      align-items: center;
      background-color: #15022beb;
      border-bottom: 1px solid $bgc;
      box-shadow: 0px 2px 15px $bgc;

      svg {
        color: white;
        font-size: 32px;
        cursor: pointer;
      }

      button {
        background-color: transparent;
        border: none;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        z-index: 4;
      }

      .title {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        color: $hover;
        font-size: 28px;
      }
    }

    .exit {
      width: 100%;
      display: none;
      .menu {
        width: 65vw;
        max-width: 350px;
        height: 100vh;
        background-color: #15022beb;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $bgc;
        box-shadow: inset 0px 2px 10px $bgc, 0px 2px 10px $bgc;

        a {
          width: 100%;
          color: $hover;
          text-decoration: none;
          text-transform: uppercase;
          padding: 2rem;
          box-shadow: -2px 2px 7px $bgc;

          &:hover {
            text-shadow: -1px -1px 1px #00000059, 0 0 10px #ffffff,
              0 0 20px #008ec9, 0 0 30px #008ec9, 0 0 40px #008ec9,
              0 0 50px #008ec9, 0 0 60px #008ec9, 0 0 70px #008ec9;
          }
        }

        .footer {
          margin-top: 45vh;

          a {
            box-shadow: none;
          }
        }
      }
    }

    .main {
      width: 100vw;
      margin-top: 15vh;

      .artonwork {
        height: 90vh;
        position: relative;
        grid-template-rows: 25% 60%;

        .description {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }

      .intro {
        position: relative;
        height: auto;
        position: relative;
        grid-template-columns: none;
        grid-template-areas: "pic" "text";
        grid-template-rows: 50% 50%;
        margin-top: 3%;

        .description {
          width: 100%;
          margin-top: 10%;

          h1 {
            font-size: 32px;
            text-align: center;
          }
        }
      }

      .project-ph {
        position: relative;
        height: 165vh;
        position: relative;
        grid-template-columns: none;
        grid-template-areas: "text" "pic";
        grid-template-rows: 45% 55%;
        margin-top: 25vh;
        margin-bottom: 0;

        .texts {
          width: 100%;

          h2 {
            font-size: 32px;
            margin-bottom: 5%;
            text-align: center;
          }
        }
      }

      .project-pomodoro {
        position: relative;
        height: 170vh;
        position: relative;
        grid-template-columns: none;
        grid-template-areas: "text" "pic";
        grid-template-rows: 60% 40%;
        margin-top: 20vh;
        margin-bottom: 0;

        .texts {
          width: 100%;

          h2 {
            font-size: 32px;
            margin-bottom: 5%;
            text-align: center;
          }
        }
      }
    }
  }
}
