/**                       Colors                      */
$unhover: #ffffffcb;
$hover: #fff;
$link: #476efe;
$bgc: #111111;
$textBgc: #380c72ab;

.admin {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  color: $unhover;
  z-index: 2;

  .editor {
    width: 75%;
  }
}