@use "../../colors.scss";
@use "../../mixin.scss";

/**                       Main                      */
.main {
  @include mixin.main;

  .artonwork {
    width: 85%;
    height: 60vh;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-areas: "logo" "text";
    justify-items: center;

    #logo {
      height: 90%;
      grid-area: logo;
    }

    .description {
      width: 50%;
      grid-area: text;
      font-size: 130%;
      text-indent: 18px;
      color: colors.$hover;

      section {
        padding-top: 5%;
      }

      span {
        background-color: colors.$textBgc;
        box-shadow: 2px 2px 20px #000000b0;
        border-radius: 0.2rem;
      }
    }
  }

  .intro {
    width: 85%;
    height: 95vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "pic text";
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;

    .stat {
      grid-area: pic;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-shadow: -1px -1px 1px #00000059, 0 0 10px #ffffff, 0 0 20px #008ec9, 0 0 30px #008ec9, 0 0 40px #008ec9, 0 0 50px #008ec9, 0 0 60px #008ec9, 0 0 70px #008ec9;
      }

      .portre {
        grid-area: pic;
        width: 90%;
        border-radius: 50%;
        // box-shadow: 2px 2px 20px #000000b0;
        box-shadow: 0 0 10px #ffffff1f, 0 0 20px #c900c829, 0 0 30px #c900c829, 0 0 40px #c900c829, 0 0 50px #c900c829, 0 0 60px #c900c829, 0 0 70px #c900c829;
        margin-bottom: 2vh;
      }

      .question {
        padding-bottom: 1%;
      }
      .answers {
        color: colors.$hover;
        padding-bottom: 7%;
      }
    }

    .description {
      grid-area: text;
      width: 80%;
      display: flex;
      justify-content: center;

      h1 {
        color: colors.$hover;
        margin-bottom: 5%;
        text-align: left;
        font-size: 28px;
        font-weight: 500;
        // text-shadow: 2px 2px 4px #00000096;
        text-shadow: -1px -1px 1px #00000059, 0 0 10px #ffffff, 0 0 20px #c900c8, 0 0 30px #c900c8, 0 0 40px #c900c8, 0 0 50px #c900c8, 0 0 60px #c900c8, 0 0 70px #c900c8;
      }

      .parag {
        text-indent: 18px;
        padding-bottom: 3%;
        justify-content: flex-start;

        span {
          color: colors.$hover;
          font-size: 140%;
          background-color: colors.$textBgc;
          box-shadow: 2px 2px 20px #000000b0;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px), (max-aspect-ratio:16/9) {
  .artonwork {
    height: 90vh !important;
    grid-template-rows: 20% 80% !important;

    #logo {
      width: 100%;
      height: 70% !important;
    }

    .description {
      width: 100% !important;
    }
  }

  .intro {
    display: flex !important;
    flex-direction: column !important;

    h1 {
      text-align: center !important;
    }

    .stat {
      margin-bottom: 5vh;
    }
  }
}