/**                       Colors                      */
$unhover: #ffffffad;
$hover: #fff;
$link: #476efe;
$bgc: #111111;
/**                       About                      */
#about {
  color: $hover;
  position: fixed;
  width: 80%;
  height: 65%;
  top: 18%;
  left: 10%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: text;
  text-align: center;
}
.qusetion {
  color: $unhover;
  font-size: 18px;
  text-decoration: underline;
  padding-bottom: 0.5%;
  padding-top: 1%;
}
.answer {
  font-size: 19px;
}
