/**                       Colors                      */
$unhover: #ffffffad;
$hover: #fff;
$link: #476efe;
$bgc: #111111;
/**                       Contact                      */
#contact {
  color: $unhover;
  position: fixed;
  width: 80%;
  height: 65%;
  top: 18%;
  left: 10%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: text;

  h2 {
    text-align: center;
    color: $hover;
  }

  h2:last-of-type {
    margin-top: 3vh;
    text-shadow: -1px -1px 1px #000, 0 0 10px #fff0, 0 0 20px #008ec996, 0 0 30px #008ec996, 0 0 40px #008ec996, 0 0 50px #008ec996, 0 0 60px #008ec996, 0 0 70px #008ec996
  }
}
