.gallery-view {
  touch-action: manipulation;
}
@media screen and (max-width: 600px), screen and (max-aspect-ratio:16/9) {
  .gallery-view {
    width: 100% !important;
    display: flex;
    justify-content: center;

    .gallery {
      width: 50vw !important;

      .gallery-images {
        height: 30vh;
        width: 50vw !important;

        div {
          min-width: 50vw;
        }
      }

      .gallery-navigation {
        button {
          top: 35% !important;
          height: 25% !important;
        }
      }
    }
  }
}

.gallery {
  width: 20vw;
  position: relative;
  border-radius: 1vw;
  user-select: none;
  -webkit-box-shadow: 5px 6px 28px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 28px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 28px -8px rgba(0, 0, 0, 0.75);
}
.gallery-images {
  height: 70vh;
  width: 20vw;
  border-radius: 1vw;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  div{
    min-width: 20vw;
    background-color: #29292970;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}
.gallery-navigation {
  button {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: transparent;
    color: #ffffffac;
    font-size: 23px;
    border: 0;
    outline: none;
    outline-color: rgba(43, 144, 202, 0.568);
  }
  button:hover i {
    color: #e6e6e6;
    font-size: 150%;
  }
  i {
    border-radius: 50%;
    -webkit-box-shadow: 5px 6px 28px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 28px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 28px -1px rgba(0, 0, 0, 0.75);
  }
  .left-gallery-button {
    left: 0;
    padding-left: 1rem;
    justify-content: flex-start;
    border-top-left-radius: 0.8vw;
    border-bottom-left-radius: 0.8vw;
    
    &:hover {
      font-size: 120%;
    }
  }
  .right-gallery-button {
    right: 0;
    padding-right: 1rem;
    justify-content: flex-end;
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;

    &:hover {
      font-size: 120%;
    }
  }
}
.gallery-page-indicator {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  i {
    padding-bottom: 2%;
    margin: 1%;
    color: #ffffff93;
    border-radius: 50%;
  }
  button {
    background-color: transparent;
    color: #ffffffac;
    font-size: 17px;
    border: 0;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;

  width: 100% !important;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #292929e3;
  z-index: 2;

  .left-gallery-button {
    left: -5rem;
  }

  .right-gallery-button {
    right: -5rem;
  }

  .gallery-page-indicator {
    bottom: -2rem;
  }

  .gallery-images {
    height: 100% !important;
    width: 100%;
    border-radius: none;
  }
}