/**                       Colors                      */
$unhover: #ffffffcb;
$hover: #fff;
$link: #476efe;
$bgc: #111111;
/**                       Footer                      */
#footer {
  position: fixed;
  bottom: 5%;
  left: 5.2%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 25%;
  z-index: 1;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    a {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  svg {
    color: $unhover;
    text-align: center;
  }

  div:hover svg {
    color: $hover;
    transform: scale(1.25);
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  #footer {
    display: none;
  }
}
