/**                       Colors                      */
$unhover: #ffffffcb;
$hover: #fff;
$link: #476efe;
$bgc: #111111;
/**                       Header                      */
@media not screen and (min-aspect-ratio: 16/9) {
  .headline-helper {
    display: none;
  }
}
@media screen and (min-aspect-ratio: 16/9) {
  #headline {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    z-index: 1;

    .headline-helper {
      display: grid;
      justify-items: center;
      align-content: center;
      grid-template-columns: 33.3% 33.3% 33.3%;
      background-color: transparent;
      z-index: 2;

      div {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4%;
        padding-bottom: 4%;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }

      h4 {
        color: $unhover;
        text-align: center;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
      }

      div:hover h4 {
        color: $hover;
        transform: scale(1.07);
      }
    }
  }
}
