/**                       Colors                      */
$unhover: #ffffffe7;
$hover: #fff;
$close: #e74242;
$link: #476efe;
$bgc: #111111;
/**                       Policy                      */
.policy-container {
  width: 100vw;
  bottom: 5%;
  position: fixed;
  display: flex;
  justify-content: center;
}
#policy {
  width: 45vh;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding: 0.6%;
  border-radius: 1.3vw;
  background-color: $bgc;
  color: $unhover;
  padding: 2rem;

  a {
    color: $link;
    font-size: 13px;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }

  #policy-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #policy-close {
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #policy-close:hover svg {
    color: $close;
  }
}
