@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Black.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15022b;
}

@media screen and (min-aspect-ratio: 16/9) {
  main {
    background-image: url("./assets/images/bgc.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #15022b;
  }
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
