@use "./colors.scss";

/**                       Main                      */
@mixin main {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20vh;
	color: colors.$unhover;
	z-index: 2;
}

/**                       Project                      */
@mixin project {
    width: 85%;
    height: 50vh;
    margin-top: 25vh;
    margin-bottom: 25vh;
    display: grid;
    justify-items: center;
    grid-template-areas: "pic text";
    grid-template-columns: 25% 75%;
}

@mixin texts {
	width: 80%;
	height: 90%;
	grid-area: text;
	display: flex;
	margin-top: 5%;
	align-items: center;
	flex-direction: column;
}